@{
    ViewBag.Title = "Shurdle";
}

<div class="header">
    <div><h3>Shurdle</h3></div>
</div>
<div class="wordle-container">
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
    <div class="grid" data-tile></div>
</div>
<div class="keyboard">
    <button class="key" data-key>Q</button>
    <button class="key" data-key>W</button>
    <button class="key" data-key>E</button>
    <button class="key" data-key>R</button>
    <button class="key" data-key>T</button>
    <button class="key" data-key>Y</button>
    <button class="key" data-key>U</button>
    <button class="key" data-key>I</button>
    <button class="key" data-key>O</button>
    <button class="key" data-key>P</button>
    <div></div>
    <button class="key" data-key>A</button>
    <button class="key" data-key>S</button>
    <button class="key" data-key>D</button>
    <button class="key" data-key>F</button>
    <button class="key" data-key>G</button>
    <button class="key" data-key>H</button>
    <button class="key" data-key>J</button>
    <button class="key" data-key>K</button>
    <button class="key" data-key>L</button>
    <div></div>
    <button class="key big" data-reset>Reset</button>
    <button class="key" data-key>Z</button>
    <button class="key" data-key>X</button>
    <button class="key" data-key>C</button>
    <button class="key" data-key>V</button>
    <button class="key" data-key>B</button>
    <button class="key" data-key>N</button>
    <button class="key" data-key>M</button>
    <button class="key big" data-backspace><span class="backspace">←</span></button>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/wordle.js"></script>
}